*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f7f5f6;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fcf9f9;
    height: auto;
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 40px;
    color: #ffffff;
}
.footer-content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: rgb(22, 21, 21);
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: #f7f5f6;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #f7f5f6;

}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
}
.socials a:hover i{
    color: rgb(33, 151, 225);
}
.footer-bottom{
    background: #030000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    color: #f7f5f6;
    font-size: 14PX;
    word-spacing: 2PX;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight:2000;

}